# Photo save directory for the 'photo' visualizer
VIZ_SAVE_DIR=/storage/emulated/0/Download/mathcad-nf-sect

# Logging control [no | console | file | both] (no by default)
LOG_MODE=no
# Path used when LOG_MODE is file or both (default: log.ndjson)
LOG_FILE=log.ndjson
